<div class="d-flex align-center justify-content-center">
  <%= button_to "Logout", logout_path, method: :delete %>
</div>
  <% if @user %>
        <span>  
          <%= @user.email %>
        </span>
 <% end %>